raw_data/DSSTox_Identifiers_and_CASRN_2021r1.csv
raw_data/NHANES/nhanes_chems.csv
raw_data/NHANES/nhanes_coms.csv
raw_data/NHANES/nhanes_demo.csv
raw_data/NHANES/nhanes_dict.csv
raw_data/NHANES/nhanes_weights.csv
output/merged_carcinogen_list.csv
output/nhanes_summary.csv
output/state_chemlist.csv
output/WA_strat_table.csv
literature/
.Rhistory